* {
  margin: 0;
}
html, body {
  height: 100%;
}
.dvn_wrapper{
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -60px; 
}
.dvn_wrapper:after {
  content: "";
  display: block;
}
.uofa-footer, .dvn_wrapper:after {
  /* .push must be the same height as footer */
  height: 60px; 
}
.uofa-footer {
 background-color: #1a4824;
 padding: 0 7%;
 color: #efefef;
 font-size: 13px;

}
.uofa-footer p{
	padding-top: 20px;
	text-align: right;
}
.uofa-footer p a{
	color: #efefef;
	text-decoration: none;
	 font-style: italic;
	 
}
.uofa-footer p a:hover{
	color: #cbdace;
}
body{
	margin: 0;
	font-family: "Helvetica Neue", Arial, sans-serif;
}
.dvn_content div, .dvn_content span, .dvn_content p, 
.dvn_content li, .dvn_content caption, .dvn_content table, 
.dvn_content tbody, .dvn_content tfoot, .dvn_content thead, 
.dvn_content tr, .dvn_content th, .dvn_content td, .popupModalBody span {
	font-family: "HelveticaNeue", 
	Helvetica, Arial, sans-serif !important;
	font-size: 15px !important;
}
.dvnHmpgDataverseWidgetTable span.iceOutTxt, 
.dvnHmpgStudyWidgetTable span.iceOutTxt {
	font-size: 100% !important;
}
.uofa-header{
	background: #1a4824 url('https://www.library.ualberta.ca/2012assets/top_back.png') center;
	height: 60px;
	padding: 1% 7%;
}
.nav{
	float: right;
	margin-top: 10px;
}
.nav li{
	float: left;
	list-style: none;
}
.nav li a{
	display: block;
	padding: 10px;
	text-decoration: none;
	color: #fff;
	text-transform: lowercase;
	background-color: #092a10;
	margin-right: 3px;
	font-size: 14px;
	letter-spacing: 1px;
}
.nav li a:hover{
	background-color: #000;
	}
.dvn_content{
	margin: 0 7%;
}
a.dvn_headerTitleLrgNetwork:link, a.dvn_headerTitleLrgNetwork:visited, a.dvn_headerTitleLrgNetwork:active{
	color: #007C41;
	font-size: 25px !important; 
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
}
 a.dvn_headerTitleLrgNetwork:hover{
 	color: #123503;
 }
 .dvnHmpgColumnDataverses .dvnHmpgColumnHeader, .dvnHmpgColumnDataverses .dvnHmpgColumnWidgetHeader, .dvnTabs .icePnlTbOff .MidMid a td{
 	color: #007C41;
 }
 .dvnCreateActionBox.dvnCreateDataverse,.dvnHmpgColumnDataverses .dvnHmpgColumnHeaderBlock .dvn_totalsValue{
 	background-color: #007C41;
 }
 .dvnHmpgColumnDataverses .dvnHmpgColumnWidget, .dvnHmpgColumnDataverses .dvnHmpgColumnDefinition, 
 div.dvn_navblock, .dvnHmpgColumnDataverses .dvnHmpgColumnHeaderBlock, 
 .dvnHmpgColumnStudies .dvnHmpgColumnHeaderBlock, .dvnHmpgColumnStudies .dvnHmpgColumnWidget,
 .dvnHmpgColumnStudies .dvnHmpgColumnDefinition{
 	border-bottom: none;
 	border-top: none;
 }
 .dvnHmpgColumnDataverses, .dvnHmpgColumnStudies, .dvnSearchBlock{
	padding: 1% 2%;
	background: #efefef;
background: -moz-linear-gradient(top, #FFFFFF 0%, #F4F4F4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#F4F4F4));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#F4F4F4',GradientType=0 );
	box-shadow: 0px 2px 5px rgba(0,0,0,0.15);
	-webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 2px 5px rgba(0,0,0,0.25);
	border: solid 1px #edeeeb;
	width: 44%;
}
.dvnSearchBlock{
	width: 100%;
	padding-top: 10px;
}
.dvnSearchBlock .dvn_searchlinks{
	text-align: left;
	padding-left: 20px;
}
.dvnSearchBlock fieldset label input.iceInpTxt{
	color: #999;
	text-transform: lowercase;
	padding: 5px 11px;
	width: 60%;
	font-size: 0.98em !important;
}
.dvn_searchboxblock fieldset input.iceInpTxt{
	color: #999;
	text-transform: lowercase;
	font-size: 0.98em !important;
	width: 268px;
}
.dvnSearchBlock .dvnSearchButton{
	color: #000;

}
.dvnHmpgColumnDataverses{
	margin-right: 3%;
}
form[action="/dvn/faces/HomePage.xhtml"] > #dvn_mainSection{
	margin-bottom: 5px;
	width: 47%;
}
.dvn_content #dvn_mainSection{
	padding: 10px 5px 0px 5px;
	min-height: 120px;
}
.dvn_content .dvn_hmpgMainMessage span{
	font-size: 16px !important;
	line-height: 30px !important;
	color: #666;
}
#dvnHomePgSearch{
	width: 30%;
	float: right;
	margin-right: 2.2%;
}
.dvnHmpgColumnDataverses .dvnHmpgColumnHeader, .dvnHmpgColumnStudies .dvnHmpgColumnHeader{
	font-weight: normal !important;
	text-transform: uppercase;
	font-size: 23px !important;
	letter-spacing: 1px;
}
.dvnCreateActionBox a{
	-moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
	background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
	background-color:#768d87;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.dvnCreateActionBox a:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
	background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
	background-color:#6c7c7c;
	text-decoration: none !important;
	color: #efefef;
}
.dvnCreateActionBox a:active {
	position:relative;
	top:1px;
}
.dvnCreateActionBox.dvnCreateDataverse, .dvnCreateActionBox.dvnCreateStudy{
	background-color: transparent;
}
.dvn_content .dvnCreateActionBox span{
	text-transform: lowercase;
	font-size:16px !important;
	letter-spacing: 1px;
}
